$background-dark: #1e2022;
$background-white: #fff;
$background-colored: #f3f6f4;
$background-danger: #BB0000;

$shadow-colored: #eeeeee;
$border-colored: #c9d6df;
$border-dark:#1e2022;
$border-danger: #BB0000;

$font-gray: #52616b;
$font-dark:#1e2022;
$font-light: #fff;
$font-danger: #BB0000;